.wrap {
    border: 2px solid red;
    margin-bottom: 20px;
}
.header {
    border: 1px solid black;
    margin: 2px;
    text-align: center;
}
.block {
    display: flex;
    margin-left: 2px;
    margin-right: 2px;
    column-gap: 5px;
}
.months {
    border: 1px solid black;
    flex-grow: 1;
}
.hours {
    border: 1px solid black;
    flex-grow: 3;
}
.modules {
    border: 1px solid black;
    margin: 5px;
}
.itemOfList {
    border: 1px solid black;
    margin: 2px;
}